apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "resource.default.name"  . }}
  labels:
  {{- include "labels.common" . | nindent 4 }}
rules:
  - apiGroups:
      - cluster.x-k8s.io
      - infrastructure.cluster.x-k8s.io
    resources:
      - awsclusters
      - awsclusters/status
      - clusters
      - machinepools
      - karpentermachinepools
      - karpentermachinepools/status
    verbs:
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - controlplane.cluster.x-k8s.io
    resources:
      - kubeadmcontrolplanes
    verbs:
      - get
  - apiGroups:
      - controlplane.cluster.x-k8s.io
    resources:
      - awsmanagedcontrolplanes
    verbs:
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - bootstrap.cluster.x-k8s.io
    resources:
      - kubeadmconfigs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - cluster.x-k8s.io
      - infrastructure.cluster.x-k8s.io
    resources:
      - awsclusterroleidentities
      - machines
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - create
      - update
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
      - aws.upbound.io
    resources:
      - configmaps
      - providerconfigs
    verbs:
      - get
      - list
      - create
      - delete
      - patch
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "resource.default.name"  . }}
  labels:
  {{- include "labels.common" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ include "resource.default.name"  . }}
    namespace: {{ include "resource.default.namespace"  . }}
roleRef:
  kind: ClusterRole
  name: {{ include "resource.default.name"  . }}
  apiGroup: rbac.authorization.k8s.io
